/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*= require simple_calendar
*/

@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap";
@import "bootstrap-sprockets";
@import "simple_calendar";

/* Default font for entire website */
$font: Arial, Helvetica, sans-serif;
$font_color: #292929;

body {
  font-family: $font;
  font-size: 1.3em;
  background-color: #e6afba;
}

footer {
  background-color: #697ed2;
  color: white;
  a {
    color: #fafafa;
  }
  a:hover {
  color: hotpink;
}
}

h1, h2 {
  text-transform: uppercase;
  font-size: 1.3em;
}

/* Styles all table headers the same on the website */
th{
  text-transform: uppercase;
  color: white  !important;
  background-color: #42a4aa;
  font-size: 1.3em;
}

td{
  font-size: 1.3em;

}


/* This is a test for sideBar */

@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");



p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    
}

a, a:hover, a:focus {
    color: #42a4aa;
    text-decoration: none;
    transition: all 0.3s;
}

.simple-calendar .calendar-heading .calendar-title{
  padding: 10px;
  font-size: 1.5em;

}

.chat {
  font-size: 1.4em;
}

#btn {
  margin-bottom: 10px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #7d8fd8;
}

#sidebar ul.components {
    padding: 20px ;
    
    font-size: 1.5em;
}



#sidebar ul li a{
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: #fff;
}
#sidebar ul li a:hover {
    color: #000;
    background: #7d8fd8;
}




#inline{
  display:inline-block;
}
/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}



.wrapper {
    display: flex;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;

    background: #91a0de;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active{
    margin-left: -250px;
}

#content{
    width: 70%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    margin-left: 50px;
    margin-right: 50px;

}


#f {
 
  
  transition: all 0.3s;
}


@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }

    #sidebarCollapse span{
        display: none;
    }

    #content{
      width: 100%;
      padding: 10px;
      
      transition: all 0.3s;
      margin-left: 1px;
      margin-right: 1px;

    }

    #f {
 
     
      transition: all 0.3s;
    } 
}

.sidebar-heading {
  font-size: 30px;
} 
