// Place all the styles related to the quote controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@keyframes quotes {
    0%   {color: #697ed2;}
    50%  {color: white;}
    100% {color: #697ed2;}
}


.quote {
    animation-name: quotes;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}