%h1= t('.title')

- @response["results"].each do |post|
    %div.exercise_display
        %p= "Name: " + post["name"]
        %p= "Description: " + post["description"]
        %p= "Category: " + post["category"]["name"]
