<div class="jumbotron">
	
	</br>
	<p>
	  	<strong>Date:</strong>
	  	<%= @logged_workout.start_time %>
	  
	</p>

	<p>
		<strong>Workout name:</strong>
		<%= @logged_workout.name %>
	</p>




	
</div>

<button type="button"  class="btn btn-success btn-lg"><%= link_to 'Edit workout', edit_logged_workout_path(@logged_workout)  %></button>

<button type="button"  class="btn btn-danger btn-lg"><%= link_to 'Delete', @logged_workout, method: :delete, data: { confirm: t('crud.delete_confirm') } %></button>
