<div class="jumbotron bg-info text-white">
	
	
	<p>
	  	<strong>Date:</strong>
	  	<%= @logged_workout.start_time %>
	  
	</p>

	<p>
		<strong>Workout name:</strong>
		<%= @logged_workout.name %>
	</p>




	
</div>

<button type="button" id="btn" class="btn btn-success btn-lg"><%= link_to 'Edit workout', edit_logged_workout_path(@logged_workout)  %></button>

<%= button_to 'Delete Workout', @logged_workout, method: :delete, data: { confirm: t('crud.delete_confirm') } %>